/* Default styles for larger screens */
body {
    background-color: #8ed1fc; /* Light blue background color */
    color: #75585888; /* Text color */
    font-family: Arial, sans-serif; /* Font family */
    line-height: 1.6; /* Set line height */
    margin: 0; /* Remove default body margin */
    position: relative;
}

/* Apply a background color and set text color for the body */
/* Moved to the top for better organization */

/* Style the sections with a red background */
section {
    background-color: rgba(255, 255, 255, 0.2); /* Soft red background color */
    padding: 2%;
    margin: 1%;
    text-align: center;
    color: #0d0d0d; /* Text color for the sections */
}

/* Style the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: #9b51e0;
    color: #000000;
    font-family: Arial, sans-serif;
    position: relative;
}


/* Logo */
.logo {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.6rem;
    max-width: 200px; /* Adjust as needed */
    order: 2px;
    /* Logo styling */
.logo {
    display: flex;
    align-items: center; /* Align items vertically */
}
}

/* Banner */
#banner {
    display: flex;
}

#banner > div {
    flex: 1;
}

.slider {
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slides {
    position: relative; /* Ensure the slideshow images are positioned relative to the slideshow */
}

.slider img {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
    object-position: center;
    display: none;
}

/* Add styles for the hamburger button and bars */
.hamburger {
    display: none; /* Initially hide on larger screens */
    background: none;
    border: none;
    padding-left: 10px;
    cursor: pointer;
    outline: none;
    /* Adjust position based on your layout */
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 10; /* Ensure it's above other content */
}
  
.hamburger:focus {
    /* Optional styling for focus state */
    outline: 2px solid #9b51e0; /* Adjust focus color based on header background */
}
  
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #ffffffe0; /* Adjust bar color based on preference */
    transition: all 0.3s ease-in-out;
}

img.displaySlide {
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

/* Style for slideshow buttons */
.slider-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background-color: transparent; /* Transparent background for the buttons */
}

.slider-buttons button {
    background-color: #ccc; /* Grey background for the slideshow buttons */
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    outline: none;
    padding: 10px; /* Adjust padding for button size */
}

.previous {
    left: 0;
}

.next {
    right: 0;
}

@keyframes fade { 
    from {
        opacity: .5;
    }
    to {
        opacity: 1;
    }
}

/* Navbar styling */
.nav {
    gap: 1rem;
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    position: absolute;
    top: 0;
    right: 0; /* Position it at the right */
    max-width: 50%; /* Limit the maximum width */
    background-color: #9b51e0;
    align-items: center; /* Center items vertically */
    padding: 1rem;
    border-top: 1px solid #ffffff;
    z-index: 11;
}

.nav.active {
    display: flex; /* Show the navbar when active */
}

.nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 26px;
}

/* Navbar links */
.nav .nav-link {
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 15px;
    background-color:  #8ed1fc !important;
    border-radius: 20px;
}

/* Navbar icons */
.nav .nav-icon {
    font-size: 1.5rem;
    margin-right: 10px;
}

/* About section */
#AboutUs {
    background-color: #000000;
    padding: 6%;
    text-align: center;
}

#AboutUs img {
    max-width: 100%;
    height: auto;
    margin: 1%;
    border-radius: 1rem;
}

/* Footer */
#footer {
    color: black;
}

/* Style for back-to-top button */
.back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #9b51e0;
    color: white;
    padding: 15px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.3s;
}
    
/* Style for welcome message */
.welcome-message {
    padding-right: 20px; /* Adjust spacing between the welcome message and slideshow */
}
    
.welcome-message h2,
.welcome-message p {
    margin: 0; /* Remove default margins */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav {
        gap: 1rem;
        display: flex;
        position: absolute;
        top: calc(100% + 0rem); /* Position it below the header */
        left: 0;
        max-width: 100%; /* Limit the maximum width */
        background-color: #9b51e0; /* Match the header background color */
        flex-direction: column; /* Stack links vertically */
        align-items: center; /* Center items horizontally */
        justify-content: center; /* Center items vertically */
        padding: 1rem;
        border-top: 1px solid #ffffff; /* Add a border at the top */
        display: none;
        z-index: 11; /* Ensure it's above other content */
    }

    .nav.active {
        display: flex; /* Show the navbar when active */
    }

    .nav a {
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
        font-size: 26px;
    }

    .logo {
        margin-left: auto; /* Push logo to the right */
        margin-right: 0; /* Reset margin */
    }

    /* Add styles for the hamburger button and bars */
    .hamburger {
        display: block; /* Show on smaller screens */
        background: none;
        border: none;
        padding-left: 10px;
        cursor: pointer;
        outline: none;
        /* Adjust position based on your layout */
        position: absolute;
        right: 1rem;
        top: 1rem;
        z-index: 10; /* Ensure it's above other content */
    }
    
    .hamburger:focus {
        /* Optional styling for focus state */
        outline: 2px solid #9b51e0; /* Adjust focus color based on header background */
    }
    
    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        background-color: #ffffffe0; /* Adjust bar color based on preference */
        transition: all 0.3s ease-in-out;
    }
    
    /* Adjust the appearance of bars when the hamburger is active */
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }
}


/* Style the bullet points section */
.bullet-points {
    text-align: left; /* Align text to the left */
    padding: 20px; /* Add padding for spacing */
}

.bullet-points h3 {
    font-size: 1.2em; /* Adjust font size */
    margin-bottom: 10px; /* Add spacing below the heading */
}

.bullet-points ul {
    list-style-type: disc; /* Use bullet points */
    margin-left: 20px; /* Add left margin for indentation */
}

.bullet-points ul li {
    margin-bottom: 5px; /* Add spacing between bullet points */
}

