@media (max-width: 768px) {
  .menu-links {
    display: none;
  }

  .menu-links.open {
    display: block;
  }

  .hamburger-icon {
    display: block;
    cursor: pointer;
    padding: 15px;
  }

.navbar {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    padding: 1rem; /* Adjust padding */
}

.navbar .nav-link {
    font-size: 1.4rem; /* Decrease font size */
    margin: 10px 0; /* Adjust margin */
}

.navbar .nav-icon {
    font-size: 1.3rem; /* Decrease icon size */
    margin-right: 0; /* Reset margin */
}

  /* Hamburger Icon */
  .hamburger-icon .line {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
  }

  /* Adjustments for the Image */
  .logo img {
    max-width: 100%;
    height: auto; /* Ensures image aspect ratio is maintained */
    object-fit: cover; /* Ensures the image fills its container */
  }
}

