<!DOCTYPE html>
'{% load static %}'
<html>
<head>
    <title>Glazer's Children Museum</title>
    <link rel="stylesheet" type="text/css" href="{% static 'gcm.css' %}">
    <script src="{% static 'gcm.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- Header -->
    <header>
        <!-- GCM LOGO -->
        <a href="#top">
            <img src="{% static 'GCMLogo.png' %}" alt="GCM Logo" id="logo">
        </a>
        <!--NAVBAR-->
        <div class="navbar">
            <a href="#top"></a>
            <a href="#home" id="home-link">Home</a>
            <a href="#exhibits" id="exhibits-link">Exhibits</a>
            <a href="#about" id="about-link">About Us</a>
            <a href="#contact" id="contact-link">Contact</a>
        </div>
    </header>

    <!-- Banner -->
    <section id="banner">
        <h2>WELCOME!</h2>
        <a href="#about">Learn More</a>
    </section>

    <!-- About Us -->
    <section id="Home">
        <h2>Home</h2>
        <p>Information about your company...</p>
    </section>

    <!-- Services -->
    <section id="Exhibits">
        <h2>Exhibits</h2>
        <p></p>
    </section>

    <!-- About Us -->
    <section id="AboutUs">
        <h2>About Us</h2>
        <!-- Project details -->
    </section>

    <!-- Contact -->
    <section id="contact">
        <h2>Contact Information</h2>
        <form>
            <!-- Contact form elements -->
        </form>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <p>© 2024 GLAZERS CHILDREN MUSEUM RESERVED</p>
    </footer>

    <!-- Add CSS link for your styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <!-- Add JavaScript link -->
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
