/* Default styles for larger screens */
body {
    background-color: #32b3d3d1; /* Light blue background color */
    color: #75585888; /* Text color */
    font-family: Arial, sans-serif; /* Font family */
    line-height: 1.6; /* Set line height */
    margin: 0; /* Remove default body margin */
}

/* Apply a background color and set text color for the body */
/* Moved to the top for better organization */

/* Style the sections with a red background */
section {
    background-color: rgba(255, 255, 255, 0.2); /* Soft red background color */
    padding: 2%;
    margin: 1%;
    text-align: center;
    color: #0d0d0d; /* Text color for the sections */
}

/* Style the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: #960ac9d1;
    color: #000000;
    font-family: Arial, sans-serif;
}

/* Logo */
.logo {
    max-width: 40%;
    height: auto;
    border-radius: 2rem;
    margin-right: auto;
}

/* Banner */
#banner {
    display: flex;
}

#banner > div {
    flex: 1;
}

.slider {
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider img {
    width: 100%;
    max-height: 500px;
    object-fit: contain;
    object-position: center;
    display: none;
}

img.displaySlide {
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: rgb(82, 79, 79);
    color: wheat;
    border: none;
    cursor: pointer;
}

.previous {
    left: 0;
}

.next {
    right: 0;
}

@keyframes fade { 
    from {
        opacity: .5;
    }
    to {
        opacity: 1;
    }
}

/* Navbar styling */
.navbar {
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

/* Navbar links */
.navbar .nav-link {
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 15px;
    background-color:  #32b3d3d1 !important; /* Corrected border definition */
    border-radius: 20px;
}

/* Navbar icons */
.navbar .nav-icon {
    font-size: 1.5rem; /* Adjust the size of the icons */
    margin-right: 10px; /* Optional: Add some spacing between icons */
}

/* About section */
#AboutUs {
    background-color: #000000;
    padding: 6%;
    text-align: center;
}

#AboutUs img {
    max-width: 100%;
    height: auto;
    margin: 1%;
    border-radius: 1rem;
}

/* Footer */
#footer {
    color: black;
}
