@media (max-width: 768px) {
  .menu-links {
      display: none;
  }

  .menu-links.open {
      display: block;
  }

  .hamburger-icon {
      display: block;
  }

  .navbar {
      flex-direction: column;
      align-items: center;
  }
  /* Hamburger Icon */
.hamburger-icon {
  display: none;
  cursor: pointer;
  padding: 15px;
}

.hamburger-icon .line {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}