<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Glazer's Children Museum</title>
    <link rel="stylesheet" type="text/css" href="{% static 'gcmtest.css' %}">
    <!-- Add viewport meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add CSS link for your styles -->
</head>
<body>
    <!-- Header -->
    <header>
        <!-- GCM LOGO -->
        <a href="{% url 'SplashPage:index' %}">
            <img class="logo" src="{% static 'GCMLogo.png' %}" alt="GCM Logo" id="logo">
        </a>
        <!--NAVBAR-->
        <nav>
            <div class="navbar">
                <a href="{% url 'SplashPage:index' %}" id="home-link" class="nav-link">Home</a>
                <a href="{% url 'ExhibitPage:index' %}" id="exhibits-link" class="nav-link">Exhibits</a>
                <a href="{% url 'about_page' %}" id="about-link" class="nav-link">About Us</a>
                <a href="{% url 'contact_page' %}" id="contact-link" class="nav-link">Contact</a>
            </div>
        </nav>
    </header>

    <!-- Contact Information -->
    <section id="contact">
        <h2>Contact Us</h2>
        <p>For more information regarding the museum, please navigate to the main webpage's contact tab and fill out the field of information. Down below is where you can find some general contact information.</p> <!-- New line of text -->
        <div class="contact-info">
            <p><strong>Organization:</strong> Glazer Children's Museum</p>
            <p><strong>Email:</strong> info@glazermuseum.org</p>
            <p><strong>Phone:</strong> +1 813-443-3861</p>
            <p><strong>Address:</strong> 110 W Gasparilla Plaza, Tampa, FL 33602</p>
            <p><strong>Main Website:</strong> <a href="https://glazermuseum.org/" target="_blank">https://glazermuseum.org/</a></p>
            <p><strong>Main Contact Page:</strong> <a href="https://glazermuseum.org/contact/" target="_blank">https://glazermuseum.org/contact/</a></p>
        </div>
    </section>

<!-- Footer -->
<footer id="footer">
    <p>© 2024 GLAZERS CHILDREN MUSEUM RESERVED</p>
</footer>

<!-- Report Footer -->
<footer id="report-footer">
    <p><a href="{% url 'report:report_page' %}">Report a Problem</a></p>
</footer>

</body>
</html>
