<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Glazer's Children Museum</title>
    <link rel="stylesheet" type="text/css" href="{% static 'gcm.css' %}">
    <!-- Add viewport meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add CSS link for your styles -->
</head>
<body>
    <!-- Header -->
    <header>
        <!-- GCM LOGO -->
        <a href="#top">
            <img class="logo" src="{% static 'GCMLogo.png' %}" alt="GCM Logo" id="logo">
        </a>
        <!--NAVBAR-->
        <nav>
            <div class="navbar">
                <a href="#home" id="home-link" class="nav-link">Home</a>
                <a href="#exhibits" id="exhibits-link" class="nav-link">Exhibits</a>
                <a href="#about" id="about-link" class="nav-link">About Us</a>
                <a href="#contact" id="contact-link" class="nav-link">Contact</a>
            </div>
        </nav>
    </header>



<!-- Exhibits Container -->
<section id="exhibits">
    <h2 style="text-align: center; font-family: Arial, sans-serif; color: black; font-size: 32px;">Exhibits</h2>
    <p>
    {% if exhibitList %}
    <ul style="list-style-type: none; padding: 0;">
        {% for ExhibitData in exhibitList %}
        <li style="margin-bottom: 8px; font-size: 20px;">
            <a href="/ExhibitPage/{{ ExhibitData.id }}" style="text-decoration: none; color: black;">{{ ExhibitData.titleText }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>There are no exhibits at this moment.</p>
    {% endif %}
    </p>
</section>



</body>
</html>
